@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-Over: var(--font-overpass);
  --font-Roboto: var(--font-roboto);

  --color-AmareloP: #FBCE29;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-Roboto);
}

.maxW {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}

.bgMain {
  background-image: url('/banner-img.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bgN {
  background-image: url('/numbers-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo-text {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #000;
  text-decoration: none;
}

/* Painel diagonal fechado */
.logo-panel {
  width: 320px;
  height: 420px;
  background: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
}

.panel2 {
  width: 320px;
  height: 420px;
  background: #FBCE29;
  clip-path: polygon(100% 0%,
      /* topo diagonal */
      100% 0%,
      /* topo direito */
      100% 100%,
      /* base direita */
      0% 100%,
      /* base esquerda */
      0% 70%
      /* lateral esquerda inclinada */
    );



}

.cut-card {
  --cut: 50px;
  clip-path: polygon(
    var(--cut) 0,
    100% 0,
    100% calc(100% - var(--cut)),
    calc(100% - var(--cut)) 100%,
    0 100%,
    0 var(--cut)
  );
  -webkit-clip-path: polygon(
    var(--cut) 0,
    100% 0,
    100% calc(100% - var(--cut)),
    calc(100% - var(--cut)) 100%,
    0 100%,
    0 var(--cut)
  );
}
